.wrapper {
    display: flex;
    align-items: center;
    gap: 24px;

    margin-top: 40px;
    margin-bottom: 40px;

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        label {
            display: flex;
            width: 750px;
            justify-content: space-between;
            align-items: center;

            & input, & textarea, & select {
                width: 100%;
                padding: 10px;
                font-size: var(--small-font-size);

                border-radius: 50px;
                border: 2px solid var(--color-light-grey);

                transition: border-color 0.2s ease;

                &::placeholder {
                    opacity: 0.5;
                }

                &:focus {
                    border-color: var(--color-lighter-green);
                    outline: none;
                }
            }

            & textarea {
                height: 250px;
                border-radius: 10px;
            }
        }
    }
}

