.adminPanel {
    display: flex;
    gap: 40px;
    font-family: Arial, sans-serif;
    color: var(--color-dark-green);
    max-width: 1200px;

    margin: 7% 0;
}

.addSpace,
.addReservationForm {
    border: 1px solid var(--color-light-grey);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addSpace form,
.addReservationForm form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.addSpace label,
.addReservationForm label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    gap: 12px;
}

.addSpace input,
.addSpace textarea,
.addReservationForm input {
    width: 55%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--color-light-grey);
    transition: border-color 0.2s;
}

.addSpace input:focus,
.addSpace textarea:focus,
.addReservationForm input:focus {
    border-color: var(--color-lighter-green);
    outline: none;
}

.addSpace button,
.addReservationForm button,
.spacesList li button {
    background-color: var(--color-lighter-green);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.addSpace button:hover:not(:disabled),
.addReservationForm button:hover:not(:disabled),
.spacesList li button:hover:not(:disabled) {
    background-color: var(--color-grey);
}

.addSpace button:disabled,
.addReservationForm button:disabled,
.spacesList li button:disabled {
    background-color: var(--color-light-grey);
    cursor: not-allowed;
}

/* Lista przestrzeni */
.spacesList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 8px; /* dla miejsca na scrollbar */
    border: 1px solid var(--color-light-grey);
    border-radius: 8px;
}

/* scrollbar – delikatny styl */
.spacesList::-webkit-scrollbar {
    width: 8px;
}

.spacesList::-webkit-scrollbar-thumb {
    background-color: var(--color-light-grey);
    border-radius: 4px;
}

.spacesList::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-grey);
}

.spacesList ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.spacesList li button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-light-grey);
    background: var(--color-light-grey);
    transition: all 0.2s;
    text-align: left;
}


.spacesList li button.active {
    background: var(--color-lighter-green);
    color: white;
    border-color: var(--color-lighter-green);
}

/* Ilość miejsc */
.placesInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
