.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: 20px 0 0;
    width: 60%;

    h2 {
        color: var(--color-light-green);
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        height: 100%;
        width: 80%;

        background-color: var(--color-lighter-green);

        border-radius: 10px;

        .item {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 10px;

            border-radius: 10px;
            background-color: var(--back-ground-color);
        }
    }
}