.form {
    width: 550px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    background-color: var(--color-white);

    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--color-lighter-green);

    font-size: var(--small-font-size);

    & h2 {
        font-size: var(--subtitle-font-size);
        color: var(--color-dark-green);
    }

    .welcomeBackText {
        text-align: center;
        font-size: var(--small-font-size);
        color: var(--color-grey);
    }

    & input[type="email"], & input[type="password"] {
        width: 50%;
        padding: 10px;
        font-size: var(--small-font-size);

        border-radius: 50px;
        border: 2px solid var(--color-light-grey);

        transition: border-color 0.2s ease;

        &:focus {
            border-color: var(--color-lighter-green);
            outline: none;
        }
    }

    & label {
        width: 30%;

        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 10px;

        & input[type="checkbox"] {
            width: 22px;
            height: 22px;

            margin: 0;

            display: grid;
            place-content: center;

            appearance: none;

            font: inherit;

            border: 2px solid var(--color-light-grey);
            border-radius: 0.15em;
            transform: translateY(-0.075em);

            &::before {
                content: "";
                width: 15px;
                height: 15px;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--color-lighter-green);
            }

            &:checked::before {
                transform: scale(1);
            }
        }
    }

    & button {
        width: 30%;

        padding: 10px 20px;

        background-color: var(--color-lighter-green);
        color: var(--color-white);

        border-radius: 50px;
        border: none;

        font-size: var(--normal-font-size);
    }

    & span {
        font-size: var(--normal-font-size);
        color: var(--color-lighter-green);

        transition: 0.1s;

        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }
}