:root {
    --color-white: #FFFFFF;
    --back-ground-color: #F5F7F9;
    --color-light-grey: #D3D3D3;
    --color-grey: #A9A9A9;
    --color-lighter-green: #5DC1A4;
    --color-light-green: #31A889;
    --color-dark-green: #13413F;

    --back-ground-color-rgb: 245, 247, 249;

    --small-font-size: clamp(9px, 1vw, 15px);
    --normal-font-size: clamp(12px, 2vw, 18px);
    --bigger-font-size: clamp(17px, 2vw, 21px);
    --large-font-size: clamp(20px, 2vw, 25px);
    --subtitle-font-size: clamp(28px, 6vw, 44px);
    --slogan-font-size: clamp(36px, 8vw, 64px);
}

* {
    margin: 0;
}

body {
    background-color: var(--back-ground-color);
}

main {
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}