.container {
    height: 98vh;
    width: 98%;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: 'sidebar header';
    background-color: var(--back-ground-color);

    .sidebar {
        margin: 10px;
        grid-area: sidebar;

        border-radius: 20px;

        background-color: var(--color-light-grey);

        backdrop-filter: blur(8px);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    }

    .main {
        padding: 0;
        margin: 10px;
    }
}