.header {
    position: fixed;

    height: 80px;
    width: 100%;
    box-sizing: border-box;

    padding: 0 5%;

    display: flex;
    align-items: center;
    gap: 50px;

    background-color: var(--back-ground-color);
    z-index: 1;


    .login {
        padding: 2px 2px;

        display: flex;

        border: 1px solid var(--color-light-green);
        border-radius: 20px;

        .button {
            padding: 3px 20px;

            font-size: var(--normal-font-size);
            font-weight: 300;

            text-align: center;
            text-decoration: none;

            color: var(--color-light-green);

            border: none;
            background-color: transparent;

            transition: 0.5s;
            cursor: pointer;

            &:hover {
                color: var(--color-dark-green);
            }

            &:nth-child(2) {
                background-color: var(--color-light-green);
                color: var(--color-white);

                border-radius: 5px 20px 20px 5px;

                &:hover {
                    background-color: var(--color-dark-green);
                }
            }
        }

    }
}

.logo {
    font-size: var(--large-font-size);

    color: var(--color-light-green);

    .logoBold {
        font-weight: bold;
        color: var(--color-dark-green);
    }
}