.wrapper {
    margin: 60px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    width: 100%;
    height: 90vh;
}

.item {
    border-radius: 20px;
    padding: 20px;
    background: rgba(var(--back-ground-color-rgb), 0.15);
    backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.adminInfo {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.chart {
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    overflow-y: auto;

    h2 {
        margin-bottom: 20px;
    }

    .newsItem {
        margin: 10px 0;
        padding: 10px;

        border-bottom: 2px solid var(--color-light-grey);
    }
}