.wrapper {
    margin: 5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;

    h2 {
        text-align: center;
        color: var(--color-light-green);
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        input, select {
            width: 300px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid var(--color-light-green);
            padding: 0 10px;
            font-size: 16px;
        }

        button {
            width: 150px;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: var(--color-light-green);
            color: white;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-dark-green);
            }
        }
    }
}