.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    height: 95vh;
    padding: 20px;
    box-sizing: border-box;
}

.item {
    border-radius: 20px;
    padding: 15px;
    background: rgba(var(--back-ground-color-rgb), 0.15);
    backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* uniemożliwia wychodzenie elementów */
}

.mainContent {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.adminInfo {
    height: 150px;
}

.chartsContainer {
    display: flex;
    gap: 20px;
    height: calc(100% - 150px);
}

.chart {
    flex: 1;
    border-radius: 12px;
    background: rgba(var(--back-ground-color-rgb), 0.15);
    padding: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow: hidden; /* etykiety nie wychodzą poza kafelek */
}

.chartTitle {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
}

.sidebar {
    border-radius: 20px;
    background: rgba(var(--back-ground-color-rgb), 0.15);
    padding: 20px;
    height: 83%;
    overflow-y: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
