.wrapper {
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    width: 100%;
    height: 100vh;
}

.item {
    border-radius: 20px;
    padding: 20px;
    background: rgba(var(--back-ground-color-rgb), 0.15);
    backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.adminInfo {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.chart {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}

.item2 {
    grid-column: 4 / 5;
    grid-row: 1 / 5;
}

.item3 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
